footer
    .container-fluid.text-light.py-4.mt-auto.d-flex.justify-content-between.align-items-center
        .row
        //- Left Image
        .col-md-4
            img(src="/image/node-js-svgrepo-com.svg" alt="Node.js Logo" style="width: 50px; height: auto;")
        //- Center Content
        .text-center.flex-grow-1.col-md-4
            p.mb-1 &copy; 2025 Your Company Name. All rights reserved.
            p.small Built with
                i.bi.bi-suit-heart-fill.text-danger
                |  using Node.js & Pug
            div
                a.text-light.mx-3(href="#") Privacy Policy
                a.text-light.mx-3(href="#") Terms of Service
                a.text-light.mx-3(href="#") Contact Us
        //- Right Image
        .col-md-4
            img(src="/image/webstorm-svgrepo-com.svg" alt="WebStorm Logo" style="width: 50px; height: auto;")