footer.footer
    .container
        .row
            .col-md-4
                h5 Contact Us
                ul
                    li: a(href="mailto:gabriele.grandinetti@hotmailcom") Email: gabriele.grandinetti@hotmailcom
                    li: a(href="tel:+39 3937690141") Phone: +39 393 769 0141
            .col-md-4
                h5 Follow Us
                ul
                    li: a(href="https://www.facebook.com" target="_blank") Facebook
                    li: a(href="https://www.twitter.com" target="_blank") Twitter
                    li: a(href="https://www.instagram.com" target="_blank") Instagram
            .col-md-4
                h5 Legal
                ul
                    li: a(href="/terms") Terms of Service
                    li: a(href="/privacy") Privacy Policy
        .row
            .col-md-12.text-center
                p &copy; 2024 Your Company. All rights reserved.