header.header
    .container
        .row
            .col-md-4
                a(href="/") Home
            .col-md-4
                h1 My Website
            .col-md-4
                a(href="/add") Add

                //nav.navbar.navbar-expand-lg.navbar-light.bg-light
                //    a.navbar-brand(href="#") Brand
                //    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                //        span.navbar-toggler-icon
                //    .collapse.navbar-collapse#navbarNav
                //        ul.navbar-nav
                //            li.nav-item.active
                //                a.nav-link(href="#") Home
                //            li.nav-item
                //                a.nav-link(href="#about") About
                //            li.nav-item
                //                a.nav-link(href="#services") Services
                //            li.nav-item
                //                a.nav-link(href="#contact") Contact