header
    .container
        .row.align-items-center
            // Left: Home Icon
            .col-md-4.text-center
                a(href="/" title="Home")
                    i.bi.bi-house-fill.custom-header-i
            // Center: Website Title
            .col-md-4.text-center
                img(src="/image/Car maintenance.png" alt="Website Title" class="img-fluid mx-auto d-block custom-header-img")
            // Right: Add Content Icon
            .col-md-4.text-center
                a(href="/add" title="Add New")
                    i.bi.bi-plus-circle-fill.custom-header-i